body{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: small;
}

.container_nav{
    width: 960px;
    margin: 0 auto;
}

.navbar{
    width: 100%;
    height: 50px;
    background: #fff;
    box-shadow: 0 0 5px #666;
}

.navbar .name{
    float: left;
}

.navbar h1 {
    margin: 0;
    font-size: 24px;
    font-weight: normal;
    padding-top: 12px;
}

.navbar ul.menu{
    list-style: none;
    float: right;
}

.navbar ul.menu li {
    float: left;
    margin-right: 20px;

}

.navbar ul.menu li a {
    text-decoration: none;
    color: #333;
    border-bottom: 2px solid transparent;
    padding-bottom: 20px;
    transition: all 0.3s ease;
}

.navbar ul.menu li a:hover {
    border-bottom: 2px solid #333;
    padding-bottom: 1px;
}
.header .container_image{
    width: 20%;
    padding-top: 55px;
    padding-left: 180px;
    float: left;
}

.header .container_info{
    width: 60%;
    padding-top: 50px;
    padding-left: 15px;
    float: left;
}

.header .image_area img{
    width: 241px;
    height: 281px;
    border-radius: 10px;
}

.header .welcome_area {
    text-align: left;
}

.header .welcome_area h1{
    font-size: 55px;
    margin: 0;
}

.header .welcome_area h2{
    font-size: 45px;
    margin: 0;
}

.header .info_text p {
    margin: 0;
    font-size: 20px;
    line-height: 30px;
    font-weight: semi-bold;
}

.contact .contact_area {
    width: 241px;
    height: fit-content;
    clear: both;
    margin-left: 180px;
    padding-top: 1px;
}

.contact .contact_area p {
    text-align: center;
    margin-bottom: 5px;
}

.contact .container_github{
    margin-left: 35%;
    float: left;
}
.contact .container_linkin{
    float: left;
}

.column {
    margin-left: 18px;
    float: left;
    width: 23%;
    display: block;
}

.container_project{
    align-items: center;
    margin-top: 20px;
    margin-left: 180px;
    margin-right: 180px;
}

.container_project:after {
    content: "";
    display: table;
    clear: both;
}

.card {
    border-radius: 10px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    height: 160px;
    text-align: center;
    background-color: #f1f1f1;
}
.container_project .header_text {
    margin-left: 20px;
    font-size: 23px;
    font-weight: bold;
}

.container_project .card p {
    font-weight: bold;
}

.pie {
    --w:120px;
    width: var(--w);
    aspect-ratio: 1;
    position: relative;
    display: inline-grid;
    place-content: center;
    margin: 5px;
    font-size: 25px;
    font-weight: bold;
    font-family: sans-serif;
}
.pie:before {
    content: "";
    position: absolute;
    border-radius: 50%;
    inset: 0;
    background: conic-gradient(var(--c) calc(var(--p)*1%),#0000 0);
    -webkit-mask:radial-gradient(farthest-side,#0000 calc(99% - var(--b)),#000 calc(100% - var(--b)));
            mask:radial-gradient(farthest-side,#0000 calc(99% - var(--b)),#000 calc(100% - var(--b)));
}

.pie:before {
    background:
      radial-gradient(farthest-side,var(--c) 98%,#0000) top/var(--b) var(--b) no-repeat,
      conic-gradient(var(--c) calc(var(--p)*1%),#0000 0);
}

.pie:after {
    content: "";
    position: absolute;
    border-radius: 50%;
    inset: calc(50% - var(--b)/2);
    background: var(--c);
    transform: rotate(calc(var(--p)*3.6deg)) translateY(calc(50% - var(--w)/2));
}